cffi==1.9.1
click==6.6
cryptography==1.7.1
enum-compat==0.0.2
Flask==0.12
Flask-SocketIO==2.8.2
greenlet==0.4.11
idna==2.2
itsdangerous==0.24
Jinja2==2.8
MarkupSafe==0.23
pyasn1==0.1.9
pycparser==2.17
pyminifier==2.1
pyOpenSSL==16.2.0
python-engineio==1.1.0
python-socketio==1.6.1
six==1.10.0
Werkzeug==0.11.11
