<head lang="en">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Botfly</title>

    <!-------------------------------- CSS ------------------------------------>

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">

    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/custom.css') }}">

    <!-- Jquery CSS -->
    <link rel="stylesheet" type="text/css"
          href="https://cdnjs.cloudflare.com/ajax/libs/jquery.terminal/0.10.12/css/jquery.terminal.min.css"/>

    <!-- Finder CSS -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/finder.css') }}"/>

    <!-- Login CSS -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/login.css') }}"/>


    <!-------------------------------- JS -------------------------------------->

    <!-- Jquery -->
    <script src="{{ url_for('static', filename='js/jquery.js') }}"></script>

    <!-- Jquery UI -->
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/jquery-ui.min.js"></script>

    <!-- Socketio -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.5/socket.io.min.js"></script>

    <!-- Jquery terminal -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.terminal/0.10.12/js/jquery.terminal.min.js"></script>

    <!-- Bootstrap js -->
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>

    <!-- Cookie js -->
    <script src="{{ url_for('static', filename='js/cookie.js') }}"></script>

    <!-- Hotkeys js -->
    <script src="{{ url_for('static', filename='js/hotkeys.js') }}"></script>

    <!-- Shared js -->
    <script src="{{ url_for('static', filename='js/shared.js') }}"></script>

    <!-- Common Bash Commands js -->
    <script src="{{ url_for('static', filename='js/commands.js') }}"></script>


</head>