<!DOCTYPE html>
<html>
{% include 'header.html' %}
{% include 'nav.html' %}
<body>
<!-- Page Content -->
<div id="page-content-wrapper">
    <div class="page-content">
        <div class="container">
            <table class="table">
                <tbody>
                <tr>
                    {#                    <div class="col-md-3 left-side">#}
                    <td class="col-md-3">
                        <ul>
                            <form id="upload-file" method="post" enctype="multipart/form-data">
                                <fieldset>
                                    <label class="btn btn-primary btn-block btn-file ">
                                        Upload File <input name="file" type="file" style="display: none;">
                                    </label>
                                </fieldset>
                            </form>
                        </ul>
                        <ul>
                            <div class="well">
                                <div class="row error">
                                    <input type="search" class="search-query form-control search-payload"
                                           placeholder="Search payloads..."/>
                                </div>

                                <div class="row payload-desc">
                                    <div class="panel-group payloads" id="accordion">
                                    </div>
                                </div>
                            </div>
                        </ul>
                        {#                    </div>#}
                    </td>
                    <td class="col-md-9">
                        {#                        <div class="col-md-9 right-side">#}
                        <div id="terminal"></div>
                        {#                        </div>#}
                    </td>
                </tr>
                </tbody>
            </table>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </div>
</div>
<!-- extra div closes opening div from nav import -->
</div>
<script>
    lastOut = []

    terminal = $('#terminal').terminal(function (command, term) {
        //no bot selected
        if ('{{connected}}' == '') {
            terminal.error('No bot selected.');
            return;
        }
        if (command == 'kill') {
            $.get("/kill", function (response) {
                console.log(response)
            })
        }

        //send terminal command to server
        socket.emit('send_command', {data: command});
        socket.removeAllListeners('send_command'); //Sloppy, fix this if can. should be outside terminal function ideally
    }, {
        greetings: 'Botfly Terminal',
        //update prompt to be name of current user
        prompt: function (callback) {
            callback('{{connected}}> ');
        },
        width: 800,
        convertLinks: false,
        tabcompletion: true,
        completion: function (terminal, command, callback) {
            callback(commonCommands.concat(lastOut));
        },
        onClear: function (terminal) {
            $.get("/clear", function (response) {
                console.log(response)
            })
        },
    });


</script>

<script src="{{ url_for('static', filename='js/index.js') }}"></script>

</body>
</html>